

/* z-10 max-w-[30%] p-3 w-full border rounded h-11 text-l absolute left-[0.6%] top-[10%] */

.search_bar{
/* border-radius: 10px; */
width: 40%;
position:absolute; 
left: 12px; 
top:115px;
height: 40px;
outline: none;
border-radius: 10px;
margin-top: 5px;
}

