#search-bar{
     position: absolute;
  z-index: 3; /* put .gold-box above .green-box and .dashed-box */
  /* background: gold; */
  width: 50%;
  left: 60px;
  top: 30em;
  /* background-color:black; */
  
}

img{
    margin : 0px;
}

.main-box {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.boxed-1 {
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle; 
}
.boxed-2{
  display: inline-block;
  border: 1px solid red;
  padding: 1rem 1rem;
  vertical-align: middle;
}

