.promo {
     border: 1px solid black;
     margin: 1rem;
     padding: 2rem 2rem;
     /* padding-left : 290px; */
     text-align: left;
     /* width : 800px; */
     font-size: 75px;
     font-family: 'Cardo', serif;
     color :grey;
     background-color : rgb(106, 99, 99);
     display: flex;
     padding-left : 400px;
   
   }

   #youtube{
     width: 10%;
     /* height: 10%; */
     margin: 20px;
     color: black;
   }


 

   @keyframes ticker-kf {
50% {
       transform: translate3d(0, 0, 0);
     }
   
     100% {
       transform: translate3d(-108rem, 0, 0);
     }
   }
   
   .img-ticker {
     animation: ticker-kf 2s linear reverse;
   }