
li{
   display : flex;
   align-items: flex-start;
   display: flex;
 
}

.search_results_link{
    display: block; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    /* padding-left: .25rem; */
    /* padding-right: 7.25rem;  */
    font-size: 0.75rem;
    /* line-height: 1rem;  */
    font-weight: 700; 
    /* line-height: 1.5;  */
    text-transform: uppercase; 
    border-radius: 0.25rem; 
    /* box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);  */
    width: 210%;
    
 
}

.saved_results_link{
    display: block; 
    padding-top: 0.75rem;
    padding-bottom: 0.75rem; 
    padding-left: 1.25rem;
    padding-right: 1.25rem; 
    font-size: 0.75rem;
    line-height: 1rem; 
    font-weight: 700; 
    line-height: 1.5; 
    text-transform: uppercase; 
    border-radius: 0.25rem; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
    width: 200%;

}

.tab_list{
   display:inline-flex

}