#home {
  font-family: 'Cardo', serif;
  font-size: 75px;
  margin-left:-90px;
  color:rgb(82, 81, 81);

}


#second_nav{
   padding-left : 290px;
padding-bottom:-20px;
font-family: 'Cardo', serif;
 
}

#nav_link{
   color:rgb(82, 81, 81);
   font-weight:bold;
   font-size: 20px;
}
